/* Hero.scss */
.hero-bg {
    background-image: url('../../assets/Hero.png');
    background-size: cover;  /* Ensure the image fits within the container */
    background-position: center;  /* Center the image */
    background-repeat: no-repeat;  /* Prevent image repetition */
 height: auto;

    text-align: center;  /* Center the text */
  }
  