@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes flash {
    0% { background-color: #dc2626; }  /* Red */
    50% { background-color: #ef4444; } /* Lighter Red */
    100% { background-color: #dc2626; } /* Red */
  }
  
  .animate-flash {
    animation: flash 1s infinite alternate; /* Keep flashing */
  }
  

  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.4; }
    100% { opacity: 1; }
  }
  
  .animate-blink {
    animation: blink 1s infinite;
  }

  
  @keyframes blink {
    0% { opacity: 1; border: 2px solid red; box-shadow: 0px 0px 10px red; }
    50% { opacity: 0.4; border: 2px solid transparent; box-shadow: none; }
    100% { opacity: 1; border: 2px solid red; box-shadow: 0px 0px 10px red; }
  }
  